/* section3 */
.section3 {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 0 0 50px 0;
}

.section3 h1 {
  font-size: 30px;
  font-weight: 500;
  color: #d7a870;
  padding: 50px 0 30px;
  margin: 0 auto;
  text-align: center;
}

.form_wrap {
  display: flex;
  flex-direction: column;
}

.first_input {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  border: 1px solid #d7a870;
  outline: 0;
  padding: 10px;
  resize: none;
}

.last_input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #d7a870;
  outline: 0;
  margin: 5px 0;
  padding: 0 10px;
}

.pwd_input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #d7a870;
  outline: 0;
  margin: 5px 0 10px 0;
  padding: 0 10px;
}

.form_wrap form button {
  width: 100%;
  height: 40px;
  background-color: #d7a870;
  color: #fff;
  border: 0;
  border-radius: 10px;
  margin: 0 0 20px 0;
  font-size: 18px;
  font-weight: 500;
}

.form_wrap form textarea::placeholder,
.form_wrap form input::placeholder,
.list_update textarea::placeholder,
.list_update input::placeholder,
.list_right input::placeholder {
  color: #d7a870;
}

.list_box {
  border-radius: 10px;
  border: 1px solid #d7a870;
  padding: 10px;
}

.list_upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list_name {
  font-size: 15px;
  font-weight: 500;
  color: #736964;
}

.list_date {
  font-size: 12px;
  font-weight: 500;
  color: #828282;
  margin: 0 0 10px 0;
}

.delete_icon {
  color: #d7a870;
}

.delete_icon.active {
  display: none;
}

.list_right form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list_right form {
  display: none;
}

.list_right form.active {
  display: flex;
  align-items: center;
}

.list_right input {
  border-radius: 10px;
  border: 1px solid #d7a870;
  background-color: #fff;
  outline: 0;
  padding: 7px 5px;
  margin: 0 10px 0 0;
  width: 65px;
  text-align: center;
}

.list_right button {
  color: #d7a870;
  border: 0;
  background: none;
}

.list_content {
  font-size: 16px;
  font-weight: 400;
  color: #736964;
}

.list_box {
  margin: 0 0 20px 0;
}

.list_wrap {
  overflow-y: scroll;
  height: 450px;
}

.list_update {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list_update form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: none;
  /* display: flex; */
}

.list_update form textarea {
  border-radius: 10px;
  border: 1px solid #d7a870;
  outline: 0;
  padding: 10px;
  flex: 8;
  resize: none;
}

.list_update form div {
  flex: 2;
}

.list_update form button {
  border-radius: 10px;
  border: 1px solid #d7a870;
  background-color: #fff;
  outline: 0;
  padding: 5px;
  color: #d7a870;
  /* margin: 0 0 0 20px; */
  flex: 2;
}

.list_update form input {
  border-radius: 10px;
  border: 1px solid #d7a870;
  background-color: #fff;
  outline: 0;
  padding: 7px 5px;
  margin: 0 0 10px 0;
  width: 65px;
  text-align: center;
}

.list_update form.active {
  display: flex;
}

.up_text {
  flex: 8;
}

.up_button {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.list_right button i {
  cursor: pointer;
}

textarea,
input,
button {
  cursor: pointer;
}

.pwd_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
