<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 구글 폰트 -->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- 제이쿼리 -->
    <script
      src="https://code.jquery.com/jquery-3.6.2.min.js"
      integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA="
      crossorigin="anonymous"
    ></script>
    <!-- swiper CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <!-- swiper.js -->
    <script src="/js/swiper.js"></script>
    <!-- AOS API CSS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!-- AOS API JS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- 폰트 어썸 -->
    <script
      src="https://kit.fontawesome.com/67eff22c15.js"
      crossorigin="anonymous"
    ></script>
    <!-- main.css -->
    <link rel="stylesheet" href="/css/main.css" />
    <!-- main.js -->
    <script src="/js/main.js"></script>
    <!-- seo 최적화 및 오픈그래프 입니다. -->
    <meta property="og:image" content="./newyearscard.jpg" />
    <meta property="og:site_name" content="연하장" />
    <meta property="og:title" content="연하장" />
    <meta property="og:description" content="2023년 연하장입니다" />
    <meta property="og:type" content="website" />
    <meta property="keywords" content="연하장" />
    <meta property="author" content="안정원" />
    <meta
      name="description"
      property="og:description"
      content="2023년 연하장입니다"
    />
    <title>NewYearsCard</title>
  </head>
  <body>
    <div class="wrap">
      <!-- section1 -->
      <div class="max_width_wrap">
        <div
          class="section_wrap section1"
          data-aos="fade-in"
          data-aos-delay="50"
          data-aos-duration="1500"
          data-aos-easing="ease-in-out"
        >
          <img class="upper_img" src="/images/title_bn_upper.jpg" alt="" />
          <div class="section1_text">
            <p>
              지난해 베풀어주신 은혜에 깊이 감사드리며 새해에는 귀한 당신에게 큰
              행운이 함께 하기를 기원합니다. <br />
              새해 복 많이 받으십시오.
              <br /><br />
              안정원
            </p>
          </div>
          <img
            class="under_img"
            src="/images/title_bn_under.jpg"
            alt="title_bn"
          />
        </div>
      </div>
      <!-- section2 -->
      <div class="max_width_wrap">
        <div class="section_wrap section2">
          <!-- swiper -->
          <div
            class="swiper"
            data-aos="zoom-out"
            data-aos-delay="50"
            data-aos-duration="1500"
            data-aos-easing="ease-in-out"
          >
            <div class="swiper-wrapper">
              <!-- 첫번째 슬라이드 -->
              <div class="swiper-slide">
                <div class="slide_img">
                  <img src="./images/slide1.png" alt="slide_img" />
                </div>
                <div class="slide_text">
                  <p>
                    누군가가 내게 살아오면서 감사하게 되는 것을 말해보라고
                    한다면, 나는 항상 형을 만나게 된 것이라고 대답할 거야. 내가
                    힘들고 어려울 때 일어설 수 있는 용기를 준 건 형이었으니까.
                    정말 고마워 형.
                  </p>
                </div>
              </div>
              <!-- 두번째 슬라이드 -->
              <div class="swiper-slide">
                <div class="slide_img">
                  <img src="./images/slide2.png" alt="slide_img" />
                </div>
                <div class="slide_text">
                  <p>
                    많은 이야기를 나누지는 못했지만 일과 육아를 동시에 해내는
                    형수님이 얼마나 열심히, 그리고 희생하시며 살아가는지는
                    알고도 남습니다. 유능한 사회인, 좋은 아내, 훌륭한 엄마를
                    모두 해내는 형수님을 존경합니다. 저도 더 많은 도움이 될 수
                    있도록 노력할게요.
                  </p>
                </div>
              </div>
              <!-- 세번째 슬라이드 -->
              <div class="swiper-slide">
                <div class="slide_img">
                  <img src="./images/slide3.png" alt="slide_img" />
                </div>
                <div class="slide_text">
                  <p>
                    사랑하는 나의 조카 다인아, 재인아. 삼촌이 많이 못 만나고
                    해준 게 없어서 늘 미안해. 너희가 건강하고 밝게 자라는 모습을
                    늘 기쁘게 지켜보고 있어. 삼촌이 더 좋은 사람이 돼서 너희가
                    많이 웃으며 살 수 있도록 할게. 사랑해 다인아! 재인아!
                  </p>
                </div>
              </div>
            </div>
            <!-- 하단 동그라미 -->
            <div class="swiper-pagination"></div>
            <!-- 화살표 -->
            <div
              class="swiper-button-prev"
              data-aos="fade-right"
              data-aos-delay="50"
              data-aos-duration="1500"
              data-aos-easing="ease-in-out"
            ></div>
            <div
              class="swiper-button-next"
              data-aos="fade-left"
              data-aos-delay="50"
              data-aos-duration="1500"
              data-aos-easing="ease-in-out"
            ></div>
            <!-- 하단 스크롤-->
            <!-- <div class="swiper-scrollbar"></div> -->
          </div>
        </div>
      </div>
      <!-- section3 -->
      <div class="max_width_wrap">
        <div class="section_wrap section3">
          <h1
            data-aos="fade-down"
            data-aos-delay="50"
            data-aos-duration="1500"
            data-aos-easing="ease-in-out"
          >
            새해 덕담 한마디
          </h1>
          <div
            class="form_wrap"
            data-aos="fade-up"
            data-aos-delay="50"
            data-aos-duration="1500"
            data-aos-easing="ease-in-out"
          >
            <form action="/create" method="post">
              <textarea
                class="first_input"
                type="text"
                name="text"
                rows="4"
                cols="50"
                placeholder="여기에 글을 작성해 주세요."
                required
                maxlength="255"
              ></textarea>
              <input
                class="last_input"
                type="text"
                name="name"
                placeholder="성함을 적어주세요."
                required
                maxlength="20"
              />
              <input class="date_input" type="hidden" name="date" value="" />
              <button type="submit">보내기</button>
            </form>
          </div>
          <div
            class="list_wrap"
            data-aos="fade-up"
            data-aos-delay="50"
            data-aos-duration="1500"
            data-aos-easing="ease-in-out"
          >
            <!-- 덕담 -->
            <% for(let i = nameArr.length - 1; i >= 0; i--) { %>
            <div class="list_box">
              <div class="list_upper">
                <div class="list_left">
                  <p class="list_name"><%= nameArr[i] %></p>
                  <p class="list_date"><%= dateArr[i] %></p>
                </div>
                <div class="list_right">
                  <form action="/delete/<%= i %>" method="post">
                    <button type="submit">
                      <i class="fa-solid fa-trash fa-2x"></i>
                    </button>
                  </form>
                </div>
              </div>
              <div class="list_content">
                <p><%= textArr[i] %></p>
              </div>
            </div>
            <% } %>
            <!-- 덕담 끝 -->
          </div>
        </div>
      </div>
    </div>

    <script>
      AOS.init();
    </script>
  </body>
</html>
